@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-align-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .ql-align-right img {
    display: block;
    margin-left: auto;
  }
  
  .ql-align-left img {
    display: block;
    margin-right: auto;
  }
  
  